body {
    background-color: burlywood;
    color:white;
    font-size: 50;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    border: 5px solid #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex end;
    
}

.container div {

    flex:1;
   
}

