/* -------------------------------------- *
General Styles
* --------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Patua+One&display=swap');
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
Header {
  background-image: url("../images/Banners/Header-img.jpg");
  background-size: cover;
  height: 150px;
  background-position: center center;
  background-repeat: no-repeat;
}
h1,
h2,
h3 {
  font-family: 'Patua One', cursive;
  font-size: 36px;
  
}
main,
header h1,
nav div {
  width: 85%;
  margin: auto;
}
header {
  padding: 40px 0;
}
nav a {
  padding-right: 20px;
}
nav a:hover {
  color: #333;
}
nav {
  background-color: #ccc;
  padding: 12px;
}

.inspiro-img {
  width: 600px;
}