@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Vollkorn:wght@600&display=swap');

body{
    margin:0;  
}

a {
    text-decoration: none;
}

#background-video {
    height:auto;
    width:100%;     
}

img{
    height:25%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto; 
}


.center {
    opacity: .5;

}

.center:hover {
    
    opacity: 1;
    transition-duration: 1s;
}
