/*
Something FISHY about this website.
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Vollkorn:wght@600&display=swap');

body {
font-family: 'Noto Sans JP', helvetica, sans-serif;
line-height:1.8em;
margin: 0;

}

a {
  color:white;
  text-decoration: none;
}

img {
  width: 100%;
}

.logo {
  height: 30px;
  width: auto;
}

nav {

background-color: #3C4F3E;
Height: 80px;
font-family: 'Vollkorn', serif;
font-size: 20px;
padding-top: 15px;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  min-width: 50px;
  width: 70%;
}

nav li a:hover {
  padding-bottom: 3px;
  border-bottom: 4px solid rgb(84, 116, 97);
}

#banner {

  background-image:url(../images/Columbia\ Gorge.jpg);
  background-size: cover;
  height: 250px;
  background-position: 0 20%;
  background-repeat: no-repeat;

}
  #banner-sockeye {
    background-image:url(../images/banner-sockeye.jpg);
    background-size: cover;
    height: 250px;
    background-position: 0 70%;
    background-repeat: no-repeat;
  }
  #banner-chinook {
    background-image:url(../images/banner-chinook\ copy.jpg);
    background-size: cover;
    height: 25vh;
    background-position: 0 70%;
    background-repeat: no-repeat;
  }
  #banner-coho {
    background-image:url(../images/banner-coho.jpg);
    background-size: cover;
    height: 250px;
    background-position: 0 50%;
    background-repeat: no-repeat;
  }
  #banner-pink {
    background-image:url(../images/banner-pink.jpg);
    background-size: cover;
    height: 250px;
    background-position: 0 50%;
    background-repeat: no-repeat;
  }
  #banner-steelhead {
    background-image:url(../images/banner-steelhead.jpg);
    background-size: cover;
    height: 250px;
    background-position: 0 60%;
    background-repeat: no-repeat;
  }
  #banner-chum {
    background-image:url(../images/banner-chum.jpg);
    background-size: cover;
    height: 250px;
    background-position: 0 45%;
    background-repeat: no-repeat;
  }

#intro {
  width: 60%;
  margin:auto;
  padding:60px;
}

.grid-2 {
  display: flex;
  margin:auto;
  width:70%;
}

.grid-2 div {
  padding-top: 60px;
}

.grid-2 .left-col {
  flex:.25;
  padding-right: 20px;
  text-align: right;
}

.grid-2 .right-col {
  flex:.75;
  padding-left: 20px;
  padding-top: 80px;
}

h1 {
  font-family: 'Vollkorn', serif;
  font-size: 50px;
  margin-bottom: 0;

}

#intro-header{
  padding-bottom: 15px;
}

h2 {
font-style: italic;
font-size: 15px;
}

#fish-v1 {
  Width: 350px;
  padding-top: 30px;
}

#fish-v2 {
  Width: 200px;
  padding-top: 30px;
}