@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&display=swap');

body{
    background-color: #4ad1dd;
    color: black;
    font-family: 'Catamaran', sans-serif;
}

a{
    text-decoration: none;
    color: black;
    padding-left: 2vw;
    padding-right: 2vw;
}

a:hover {
    color:darkblue;
    padding-bottom: 2px;
    padding-top: 2px;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-top: 1px solid rgb(255, 255, 255);
    transition-duration: .5s;
}


#tv{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:10vh;
    height:60vh;
    width:auto;
    
    
}

#vid{
    position:absolute;
    top:16vh;
    left:31vw;
    height:40vh;
    width:auto;
    z-index: -1;
}

nav{
    margin-top: 0;
    text-align: center;

}

#aboutme{
    margin:0 auto;
    padding-top: 30px;
    text-align: justify;
    width:40vw;
    padding-bottom:30px;
}

#flexnav{
    padding-top: 30px;
    font-size: 1.5em;
}

@media only screen and (max-width: 768px) {

    #tv{
        display:block;
        margin:none;
        margin-top:10vh;
        height:auto;
        width:100vw;
        
        
    }
    
    #vid{
        position:absolute;
        top:16vh;
        left:15vw;
        height:20vh;
        width:auto;
        z-index: -1;
    }
    
    nav{

        margin-top: 20px;
        text-align: center;
    
    }
    #flexnav{
        display:flex;
        flex-direction: column;
        font-size: x-large;
        
        
    }
#flexnav a{
    padding-top: 15px;
    color: ghostwhite;
}

#home a{
    color: darkslategray;
}

#aboutme{
    margin:0 auto;
    padding-top: 30px;
    width:65vw;
    padding-bottom:40px;
    
}

}